@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

h6 {
  color: #d8d8d8;
}

p {
  color: #424242;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
}

button:hover {
    background-color: #fb774b;
}

hr {
  width: 50px;
  height: 2px;
  background-color: #fb774b;
}
.star {
  padding: 10px 0;
}
.star i {
  font-size: 00.8rem;
  color: goldenrod;
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
  color: #C6183D;
}

.navbar {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: black;
}

#bar:hover,
#bar.active {
  color: white;
}

@media only screen and (max-width: 991px){
  body>nav>div>button:hover,
  body>nav>div>button:focus {
    background-color: #C6183D;
  }

  body>nav>div>button:hover #bar,
  body>nav>div>button:focus #bar {
    color: white;
  }
  
  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a {
  padding: 10px 0;
}

}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}


#home {
  background-image: url(../img/port2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 60px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#home span {
  color: #C6183D;
}

/* seccion de ventajas*/

@media(min-width: 768px){
  .contenido-ventajas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
  }

}

.ventajas{
  padding: 4rem;
  
}

.ventaja{
  color: #C6183D;
  text-align: center;
}

.ventaja i{
  font-size: 2.5rem;
}

.ventaja h4{
  font-size: 1rem;
  padding: 1rem;
}

/*.w-100 img {
  width: 391 px;
  height: 376px;
  padding: 1rem;
  
}*/

.w-100 h2 {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  
}
.w-100 h2:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
 
}
#new .one img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#new .one .details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

#new .one:hover .details {
  cursor: pointer;
  background-color: rgba(200, 25, 60, 0.3);
   
}
#new .one:hover .details h2{
  color: white;
   
}
#new .one:hover .details button{
  color: white;
  border-bottom: 1px solid white;
}

#new .one .details button {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  color: #1d1d1d;
  background: none;
  text-transform: uppercase;
  border-bottom: 1px solid #2a2a2a;
  padding: 2.5px;
  transform: translateY(70px);
  transition: 0.1s ease;

}
#new .one .details button:hover {
  color:#2a2a2a;
  border-bottom: 1px solid #2a2a2a;
}

#new .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  
  
}


#new .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
#new .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

/*productos*/
.product {
  cursor: pointer;
  margin-bottom: 2rem;

}
.product h5{
  font-size: 1rem;
  font-weight: 400;
  color: #F18715;

}

.product img {
  transition: 0.3s all;
}
.product:hover img {
  opacity: 0.7;
}

.product .buy-btn {
  background: #fb774b;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.product:hover .buy-btn{
  transform: translateY(0);
  opacity: 1;
}

#banner {
  background-image: url(../img/descuentos.JPG);
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#banner h1 {
  color: white;

}

#banner h2 {
  font-size: 1.4rem;
  font-weight: 700;

}

/*seccion de contacto*/

.contacto{
  padding-top: 3rem;
}

#contacto h3{
  font-size: 1.4rem;
  font-weight: 800;
  
}

@media(min-width: 768px){
  .contenido-contacto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
}

.informacion-contacto{
  background-image: url(../img/form/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media(win-width: 768){
  .informacion-contacto{
    height: 100vh;
  }
}

.informacion-contacto::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.informacion-contacto h3{
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
}

.informacion-contacto p{
  font-size: 2rem;
  color: #424242;
}

.informacion-contacto h3, .informacion-contacto p{
  color: #FEFCFB;
}

.formulario-contacto{
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C6183D;
}


.input-contacto label{
  color: #FEFCFB;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 1rem 0;
  font-weight: 700;

}

.input-contacto input{
  padding: 0.5rem 0.5rem;
  font-family: 'Poppins', sans-serif;
  margin: 15px 0;
}

.input-contacto input, .input-contacto textarea{
  width: 100%;
  outline: none;
}

.input-contacto textarea{
  resize: none;
  padding: 0.5rem 0.5rem;
}


.input-contacto input[type="submit"]{
  width: auto;
  outline: 1rem 3rem;
  background-color: #00A87A;
  color: #FEFCFB;
  border: none;
  transition: background-color .3s ease-in-out;
}

.input-contacto input[type="submit"]:hover{
  background-color: #FEFCFB;
  color: #00A87A;
}
.row h5 .fa-solid {
  color: #C6183D;
}

#status {
  width: 40%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
}
#status.success {
  background-color: #00A87A;
  color: white;
  animation: status 3s ease forwards;
}
#status.error {
  background-color: darkred;
  color: white;
  animation: status 3s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.footer-one h5{
  font-size: 1rem;
  font-weight: 500;
  color: #1d1d1d;
}

.footer-one li{
  padding-bottom: 4px;
}
.footer-one li a{
  color: #1d1d1d;
}
.footer-one li a:hover{
  color: #F18715;
  text-decoration: none;
}

.footer-one a .fa-brands {
  color: white;
  width: 38px;
  height: 38px;
  background-color: #C6183D;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.footer-one a .fa-brands:hover{
  color: #C6183D;
  background-color: white;
  border: 2px solid #C6183D;
}


.pie {
  background-color: #C6183D;
  width: 100%;
  height: 100%;
}
.pie .logo h3 {
  color: white;
  margin: 20px;
}

.pie p{
  text-align: center;
  color: white;
  margin: 10px;
  
}


@media(min-width: 768px){
  .pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
}









